
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<head>

</head>

@using (Html.BeginForm())
{
    <div>
        <input type="text" name="email" />
        <input type="text" name="password" />
        <input type="submit" />
    </div>
}


